.mainHeaderDiv {
    background-color: #48a8ed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.navDiv ul {

    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: larger;
    font-weight: 700;

}

.navDiv li {
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

.iconDiv img {
    padding-left: 50px;
    width: 120px;
    height: auto;
}