* {
    padding: 0;
    margin: 0%;
}


.fatherDiv {
    display: flex;
    flex-direction: column;

}

.headerDiv {
    background-color: black;
    flex-basis: 150px;
}

.cardsDiv {
    background-color: #9ce0f4;
    flex-basis: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox {
    background-color: #9ce0f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; Full height of the viewport to center vertically */
  }