.friendList {
    /* background-color: #fff; */
    height: 90%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 3px solid black; */
    padding: 0 20px;
}

.friendCard {
    background-color: #45a1e3;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

.friendCard img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid;
}

.friendCard p,h1,img {
    padding: 3px;

}

.friendCard:hover{
    background-color: rgb(72, 99, 175);
  transform: scale(1.05);
  transition: all 0.3s ease ;

}
.friendCard p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}