* {
    background: #F0A8D0;
    font-family: 'Times New Roman', Times, serif;
}

.allHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text, .footerContent {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: #ffffff;
}

.icon img {
    height: 55px;
    width: 55px;
    padding-right: 10px;
}

.add {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fffefe;
    padding: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #FFEBD4;

}

.display {
    background-color: #fffefe;
    padding: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #FFEBD4;

}

.btnAdd {
    padding: 26px;
    background-color: #fffefe;
    width: 50px;
}

.textfield {
    padding: 26px;
    background-color: #fffefe;
    width: 100%;
}

.btnAdd .addTask {

    border-radius: 30px;
    background-color: #FFEBD4;
    font-weight: bolder;
    font-size: 33px;

}

.textfield .screen {
    padding: 10px;
    background-color: #FFEBD4;
    border-radius: 15px;
    outline-color: #FFEBD4;
    width: 100%;
    font-size: large;
    color: #0e0b0d;
}

.display {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    display: flex;
    justify-content: center;
    color: rgb(84, 84, 201);
    cursor: pointer;
}

.footerContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addTask {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Idhar se javaScript shuru */


.divStore {
    background-color: #FFEBD4;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 19px;
    margin: 12px;
    box-shadow: 10px 10px 20px #F0A8D0;
    
}

.taskDelDiv {
    width: 100%;

}

.detailLabel {
    background-color: #FFEBD4;
    box-shadow: 20px 20px 20px #FFEBD4;
    color: #0e0b0d;
    font-size: large;
    font-weight: 600;
}

.taskDelDiv,
.editButtonDiv,
.delButtonDiv {
    padding: 10px;
    background-color: #FFEBD4;
}

.showTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    background-color: #fff;

    
}