* {
    background: #d0a4f5;
    font-family: 'Times New Roman', Times, serif;
}

.allHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img{
height: 55px;
width: 55px;
padding-right: 10px;
}

.add {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fffefe;
    padding: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 12px #FFC6C6;

}

.display {
    background-color: #fffefe;
    padding: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 12px #FFC6C6;

}

.btnAdd {
    padding: 26px;
    background-color: #fffefe;
    width: 55px;
}

.textfield {
    padding: 26px;
    background-color: #fffefe;
    width: 100%;
}

.btnAdd .addTask {

    border-radius: 30px;
    background-color: #FFEBD4;
    font-weight: 1000;
    font-size: 26px;

}

.textfield .screen {
    padding: 10px;
    background-color: #FFEBD4;
    border-radius: 15px;
    outline-color: #FFEBD4;
    width: 100%;
}

.display {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    display: flex;
    justify-content: center;
    color: rgb(84, 84, 201);
    cursor: pointer;
}

.addTask {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Idhar se javaScript shuru */


.divStore{
background-color: #dd6bf4;
display: flex;
justify-content: flex-start;
padding: 10px;
border-radius: 19px;
margin: 12px;
}

.taskDelDiv{
    width: 100%;

}

.detailLabel{
background-color: #dd6bf4;

}
.taskDelDiv , .editButtonDiv , .delButtonDiv{
padding: 10px;
background-color: #dd6bf4;
}

.showTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px; 
    background-color: #fff;
}
